* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-image: url("/img/pexels-guillaume-meurice-1591447.jpg");
  /* background: url("/img/pexels-guillaume-meurice-1591447.jpg");
} */
  background-size: cover;
}
img {
  height: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.task:hover img {
  opacity: 1;
}

.input-task {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 340px;
  padding-left: 15px;
  outline: none;
  font-size: 20px;
}
.button-task {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  background-color: aquamarine;
  color: rebeccapurple;
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
  margin-left: 10px;
}
.button-task:hover {
  opacity: 0.8;
  background-color: aqua;
}
.button-task:active {
  opacity: 0.5;
  color: black;
}
.container {
  background-color: #d1d1d1;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto 0;
}
.list-tasks {
  list-style: none;
  width: 100%;
  margin-top: 20px;
}
.task {
  background-color: #f2f2f2;
  -webkit-box-shadow: 3px 13px 28px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 3px 13px 28px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 13px 28px -6px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.done {
  background-color: green;
  text-decoration: dashed;
}
h2 {
  color: rgb(65, 8, 27);
  margin: 100px auto 0;
  width: 500px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-decoration: underline;
  font-weight: bold;
}
.bottom-button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #f2f2f2;
  margin-top: 10px;
}
